.loginContainer{
    margin: 0 auto;
    max-width: 400px;
    border-radius: 6px; 
    padding: 1rem 1.4rem;
    box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label{
    display: block;
    width: 80px;
}
.field{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.loginButton{
    display: flex;
    margin-left: auto;
    background-color: rgb(47, 64, 40);
    border: 1px solid black;
    color: rgb(218, 240, 201);
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}

.errorMessage{
    margin-bottom: 2rem;
    color: grey;
    font-size: 0.9rem;
}